@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/lato/Lato-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/lato/Lato-BlackItalic.ttf');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/lato/Lato-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/lato/Lato-BoldItalic.ttf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/lato/Lato-Italic.ttf');
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/lato/Lato-Light.ttf');
  font-weight: 300;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/lato/Lato-LightItalic.ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/lato/Lato-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/lato/Lato-MediumItalic.ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/lato/Lato-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/lato/Lato-Semibold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/lato/Lato-SemiboldItalic.ttf');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/lato/Lato-Thin.ttf');
  font-weight: 100;
}

@font-face {
  font-family: 'Lato';
  src: url('../../../assets/fonts/lato/Lato-ThinItalic.ttf');
  font-weight: 100;
  font-style: italic;
}
