@import 'assets/fonts.css';

@layer tailwind-base, antd;
@layer tailwind-base {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light dark;
  font-family: Nunito, sans-serif;
}

* {
  -webkit-user-select: none;
  -webkit-user-drag: none;
}

.draggable {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.notDraggable {
  -webkit-app-region: no-drag;
}
